PORT=8083
ENV=development

# Database Settings
DB_DSN=postgres://username:password@localhost:5432/foodcourt_seating?sslmode=disable

# API Gateway URL
API_GATEWAY_URL=http://localhost:8080

# Redis Settings
REDIS_URL=redis://localhost:6379/0
