PORT=8085
HOST=127.0.0.1
ENV=development

# Database Settings
DB_DSN=postgres://username:password@localhost:5432/analytics_db?sslmode=disable

# Downstream Service URLs
USER_SERVICE_URL=http://localhost:8081
WALLET_SERVICE_URL=http://localhost:8082
ORDER_KITCHEN_SERVICE_URL=http://localhost:8084
